{% extends "base.html" %}
{% block content %}
    <h2>Problem Definition</h2>
    <p>
        A modern day traditional course enrollment system faces many challenges such as lack of transparency, data
        tampering
        and are overdependent on centralised servers that are prone to cyberattacks. These limitations undermine
        efficiency,
        and more importantly in managing academic records.
    </p>

    <h2>Why use a Blockchain?</h2>
    <p>A Blockchain provides a decentralised, secure, and transparent solution to the above challenges. It can
        accomplish
        this be leveraging smart contracts, and immutable transactions.</p>

    <h2>My System Leverages:</h2>
    <ul>
        <li><strong>Tamper-proof Records:</strong> Course data and enrollments are securely recorded on the blockchain,
            preventing unauthorised modifications.
        </li>
        <li><strong>Decentralised Integrity:</strong> The blockchain ensures data is distributed and less reliant on
            centralised systems, improving reliability.
        </li>
        <li><strong>Efficient Processes:</strong> Blockchain-based smart contracts automate core actions like creating
            courses and managing enrollments, reducing administrative overhead.
        </li>
    </ul>
    <p>Our system enhances the integrity and efficiency of course management, providing a secure and reliable platform
        for students and institutions.</p>


{% endblock %}
